*.log
*.aux
*.bbl
*.bcf
*.out
*.run.xml
*.blg
*.swp
*.backup.*
*.4ct
*.4tc
*.idv
*.lg
*.tmp
*.xdv
*.xmpdata
*.xref
*.html
*.css
*.xbb
creationdate.lua
creationdate.timestamp
errs.txt
pdfa.xmpi
article*.svg
article.dvi
